// $font-kanit-path:'https://fonts.googleapis.com/css?family=Kanit:400,400i,500,500i,600,600i,700,700i,900,900i';
// $font-mitr-path:'https://fonts.googleapis.com/css?family=Mitr:400,400i,500,500i,600,600i,700,700i,900,900i';
$font-prompt-path:'https://fonts.googleapis.com/css?family=Prompt:400,400i,500,500i,600,600i,700,700i,900,900i';
$font-roboto-path:'https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,600,600i,700,700i,900,900i';
// $font-family:'Kanit','sans-serif';
// $font-family:'Mitr', 'sans-serif';
// $font-family:'Prompt', 'sans-serif';
// $font-family:'Roboto', 'sans-serif';
$font-family:'Roboto',
'Prompt',
'sans-serif';
$gray1-color: #cbcbcb;
$gray2-color: #e0e0e0;
$dark-gray1-color: #2d3e50;
$green1-color: #18d8a9;
$white-color: #fff;
$black-color: #000;
$border-style: 1px solid #cbcbcb;
$red1-color: #da4453;
$list-header-hover: rgba(0, 0, 0, 0.31) !important;
